[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-liquid"]
	path = vim/bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
	ignore = untracked
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-vividchalk"]
	path = vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/AutoTag"]
	path = vim/bundle/AutoTag
	url = git://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/dtd-syntax"]
	path = vim/bundle/dtd-syntax
	url = https://github.com/cespare/dtd.vim.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = git://github.com/jgdavey/tslime.vim
[submodule "vim/bundle/vim-turbux"]
	path = vim/bundle/vim-turbux
	url = git://github.com/jgdavey/vim-turbux.git
[submodule "vim/bundle/pig.vim"]
	path = vim/bundle/pig.vim
	url = git://github.com/vim-scripts/pig.vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-pants"]
	path = vim/bundle/vim-pants
	url = https://github.com/pantsbuild/vim-pants
[submodule "vim/bundle/thrift.vim"]
	path = vim/bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/vim-husk"]
	path = vim/bundle/vim-husk
	url = https://github.com/bruno-/vim-husk
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-open"]
	path = tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-graphql"]
	path = vim/bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
